<ion-header [translucent]="true">
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>
    <ion-toolbar>
      <ion-title class="ios title-default hydrated">Logar</ion-title>
    </ion-toolbar>

      <ion-item>
        <ion-label for="email" position="stacked">E-mail:</ion-label>
        <ion-input type="email" id="email" name="email" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label for="password" position="stacked">Senha:</ion-label>
        <ion-input type="password" id="password" name="password" required></ion-input>
      </ion-item>
     <div>
      
      <ion-button (click)="Acessar()">Acessar</ion-button>

     </div>
    </ion-content>
